$primaryFontColor: #555;
$headerColor: #333;
$contrastColor: #e81c4f;

body {
  color: $primaryFontColor;
  font-family: 'Open Sans', sans-serif;
}


h2 {
  color: $headerColor;
}

.utils-fixed-width {
  max-width: 900px;
}

.utils-centered {
  margin: 0 auto;
}

.paginator {
  display: flex;
  list-style: none;
}

.paginator-item {
  cursor: pointer;
  padding: 10px;
}