/* line 13, scss/styles.scss */
body {
  color: #555;
  font-family: "Open Sans", sans-serif;
}

/* line 18, scss/styles.scss */
h2 {
  color: #333;
}

/* line 22, scss/styles.scss */
.wrapper {
  display: flex;
}

/* line 26, scss/styles.scss */
aside {
  border-right: 1px solid #f1f1f1;
}

/* line 30, scss/styles.scss */
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 36, scss/styles.scss */
.nav__item {
  cursor: pointer;
  padding: 15px 20px;
}
/* line 39, scss/styles.scss */
.nav__item i {
  color: #a8a8a8;
  font-size: 18px;
}

/* line 45, scss/styles.scss */
.nav__item--active {
  border-left: 3px solid #0EBFE9;
}
/* line 47, scss/styles.scss */
.nav__item--active i {
  color: #0EBFE9;
  font-size: 18px;
}

/* line 53, scss/styles.scss */
.filterby-wrapper {
  align-items: center;
  color: #a8a8a8;
  display: flex;
}

/* line 59, scss/styles.scss */
.filterby {
  background: url("../img/select.png") no-repeat 90% 50%;
  border-radius: 3px;
  border: 1px solid #a8a8a8;
  margin: 15px 0;
  overflow: hidden;
  margin-left: 10px;
  width: 180px;
}

/* line 69, scss/styles.scss */
.filterby__select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background-image: none;
  background: transparent;
  border: none;
  box-shadow: none;
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  line-height: 20px;
  padding: 5px 8px;
  width: 130%;
}

/* line 85, scss/styles.scss */
.filterby__select:focus {
  outline: none;
}

/* line 89, scss/styles.scss */
.button {
  background-color: #0EBFE9;
  border-radius: 2px;
  border: 2px solid #0EBFE9;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  overflow: hidden;
  padding: 10px 15px;
}

/* line 103, scss/styles.scss */
.repos-list-wrapper {
  padding: 0 40px;
  min-width: 1200px;
}

/* line 108, scss/styles.scss */
.repos-list-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* line 114, scss/styles.scss */
.repo-wrapper {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
}

/* line 119, scss/styles.scss */
.repo {
  width: 50%;
}

/* line 123, scss/styles.scss */
.repo__title {
  padding-bottom: 10px;
}

/* line 127, scss/styles.scss */
.repo__login {
  padding-right: 5px;
}

/* line 131, scss/styles.scss */
.repo__name {
  padding-left: 5px;
}

/* line 135, scss/styles.scss */
.repo__description {
  color: #a8a8a8;
  font-size: 14px;
}

/* line 140, scss/styles.scss */
.repo__type {
  border: 1px solid #ffa500;
  font-size: 12px;
  margin-left: 20px;
  padding: 2px 7px;
  text-transform: lowercase;
}

/* line 148, scss/styles.scss */
.repo__type--private {
  color: #ffae19;
}

/* line 152, scss/styles.scss */
.paginator {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 40px;
}

/* line 159, scss/styles.scss */
.paginator__item {
  cursor: pointer;
  font-size: 12px;
  margin: 2px;
  padding: 5px 11px;
}

/* line 166, scss/styles.scss */
.paginator__item--default {
  background-color: #e5e5e5;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
}

/* line 172, scss/styles.scss */
.paginator__item--active {
  background-color: #0EBFE9;
  border-radius: 3px;
  border: 1px solid #0EBFE9;
  color: #fff;
}

@media screen and (max-width: 580px) {
  /* line 180, scss/styles.scss */
  .repos-list-wrapper {
    min-width: 580px;
  }

  /* line 184, scss/styles.scss */
  .paginator {
    flex-direction: column;
    width: 35px;
    flex-wrap: wrap;
  }
}
